build/
package/
pack/
.hintrc
docs/node_modules/
docs/.temp/
docs/.cache/
server/static/images/avatar.png
.DS_Store
*.pyc
*.log
config.json
Pipfile.lock
# Editor directories and files
.idea
.vscode
Pipfile
*.exe
*.zip
html/static/images/avatar.png
html/static/images/ys_bg.png
html/static/images/sr_bg.png
*.uid
debug.txt
1.txt
test.py
docs/raw/node_modules/
docs/raw/package-lock.json
docs/raw/docs/.vuepress/.temp/
docs/raw/docs/.vuepress/.cache/
__pycache__
.history/
test.html
