[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.3.2"
pywebview = "4.2.2"
requests = "2.31.0"
pyinstaller = "5.13.0"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"
