[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi-675"

[packages]
cssmin = "0.2.0"
jsmin = "3.0.1"
flask = "2.3.2"
flask-cors = "4.0.0"
pyinstaller = "5.13.0"
pywebview = "4.2.2"
requests = "2.31.0"
jzd = {version = "*", index = "pypi-675"}

[dev-packages]

[requires]
python_version = "3.10"
