/* 禁止显示滚动条 */
html {
    overflow-x: hidden;
}

/* 侧边栏样式 */
.sidebar {
    width: 25vh;
    height: 100vh;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item img {
    max-width: 70%;
    max-height: 70%;
    display: block;
    margin: auto;
    border-radius: 50%;
}

/* 暗色模式 */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.sidebar.dark-mode {
    background-color: #222;
}

.nav-link.dark-mode {
    color: #fff;
}

.modal-content.dark-mode {
    background-color: #333;
}

input.dark-mode {
    background-color: #333;
    color: #fff;
}

input.dark-mode::placeholder {
    color: #aaa;
}

.modal-footer.dark-mode {
    background-color: #333;

}

.modal-body.dark-mode {
    background-color: #333;
}

.active.dark-mode {
    background-color: #ccc;
}


/* 内容区域 */
.container-fluid {
    display: flex;
    margin-left: 25vh;
}

.container-fluid>div {
    flex: 1;
    padding-left: 5vh;
    display: none;
}

/* 按钮 */
#startYSGameBtn {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

#startSRGameBtn {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

#settingysBtn {
    position: absolute;
    top: 5vh;
    right: 5vh;
}

#settingsrBtn {
    position: absolute;
    top: 5vh;
    right: 5vh;
}

/* 背景图 */
.ysbg {
    max-width: 100%;
    height: 100vh;
    width: 74vh;
    background-image: url("http://127.0.0.1:6553/files/images/ys_bg.png");
}

.srbg {
    max-width: 100%;
    height: 100vh;
    width: 74vh;
    background-image: url("http://127.0.0.1:6553/files/images/sr_bg.png");
}

#Copyright{
    color: #6c757d;
    font-size: 5px;
}