/* 隐藏滚动条 */
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* 侧边栏样式 */
.sidebar {
    width: 12.5vw;
    height: 100vh;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;

}

.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.user-profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-avatar {
    flex: 0 0 80px;
    /* 设置用户头像区域的宽度 */
    margin-right: 10px;
}

#user-avatar {
    width: 60%;
    height: 60%;
    border-radius: 50%;;
}

.user-info {
    flex: 1;
    /* 设置用户信息栏占据剩余空间 */
}

/* 内容区域样式 */
.content {
    display: flex;
    margin-left: 12.5vw !important;
}

.content>div {
    flex: 1;
    padding-left: 5vh;
    display: block;
}

/* 按钮 */
#startYSGameBtn {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

#startSRGameBtn {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

#settingysBtn {
    position: absolute;
    top: 5vh;
    right: 5vh;
}

#settingsrBtn {
    position: absolute;
    top: 5vh;
    right: 5vh;
}

/* 背景图片 */
.ysbg {
    max-width: 100%;
    height: 100vh;
    width: 74vh;
    background-image: url("/bg/ys");
}

.srbg {
    max-width: 100%;
    height: 100vh;
    width: 74vh;
    background-image: url("/bg/sr");
}

#Copyright {
    color: #6c757d;
}

#NavIcon {
    width: 6vh;
    height: 6vh;
}